@model FileListModel

<h3>
    @Model.Folder.FolderName
</h3>

<div class="row">

    @if(Model.Folder.Files != null){
            <table class="table table-hover">                
                    @foreach (var file in Model.Folder.Files){
                <tbody> 
                    <tr>
                        <td>
                            @file.FileName
                        </td>
                        <td>
                            @file.FileFormat
                        </td>
                        <td>
                            <a class="btn btn-info" type="button" href="@file.FilePath" download="@file.FileName">
                                Download
                            </a>
                        </td>
                    </tr>
                </tbody>
                }
            </table>
    }

</div>