@model FileListModel

@if (Model.ParentFolders != null)
{
<div class="row">
    <p>
            @for (int i = 0; i < Model.ParentFolders.Count; i++)
            {
                <span>
                    <a asp-controller="Folder" asp-action="Details" asp-route-id="@Model.ParentFolders[i].FolderId">
                        @Model.ParentFolders[i].FolderName
                    </a>
                </span>
                @if (i < Model.ParentFolders.Count - 1)
                {
                    <span> &nbsp;>&nbsp; </span>
                }
            }
    </p>
</div>
}

<div class="row">
    <h3 class="btn" style="background-color: #f0f0f0;">
         Current Folder: @Model.CurrentFolder.FolderName
    </h3>
</div>
<div class="row">
@if (Model.ChildrenFolders != null && Model.ChildrenFolders.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var folder in Model.ChildrenFolders)
                {
                    <tr>
                        <td>
                            <a asp-controller="Folder" asp-action="Details" asp-route-id="@folder.FolderId">
                                @folder.FolderName.ToUpperInvariant()
                            </a>
                        </td>
                        <td class="fit">
                            Folder
                        </td>
                        <td class="fit">
                            <form asp-controller="Folder" asp-action="FolderRenameForm"
                                    asp-route-parentFolderId="@folder.ParentFolderId" asp-route-folderId="@folder.FolderId"
                                    method="post">
                                <button class="btn btn-primary text-white" type="submit">Rename</button>
                            </form>
                        </td>
                        <td class="fit">
                            <form asp-controller="Folder" asp-action="DeleteFolder"
                                    asp-route-parentFolderId="@folder.ParentFolderId" asp-route-folderId="@folder.FolderId"
                                    method="post"
                                    onclick="return confirm('All files and directories under this directory will be deleted. Are you sure?')">
                                <button class ="btn btn-danger text-white" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
    }
@if (Model.CustomFiles != null && Model.CustomFiles.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Display Name</th>
                    <th scope="col">File Name</th>
                    <th scope="col">Format</th>
                    <th scope="col">Type</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.CustomFiles)
                {
                    <tr>
                        <td>
                            @file.CustomDisplayName
                        </td>
                        <td>
                            @file.CustomFileName
                        </td>
                        <td class="fit">
                            @file.CustomFileFormat
                        </td>
                        <td class="fit">
                            File
                        </td>
                        <td class="fit">
                            <form asp-controller="Folder" asp-action="FileRenameForm"
                            asp-route-folderId="@file.ParentFolderId" asp-route-fileId="@file.CustomFileId"
                            method="post">
                                <button class="btn btn-primary text-white" type="submit">Rename</button>
                            </form>
                        </td>
                        <td class="fit">
                            <form asp-controller="Folder" asp-action="DeleteFile"
                            asp-route-fileId="@file.CustomFileId"
                            method="post"
                            onclick="return confirm('Are you sure you want to delete this?')">
                                <button class="btn btn-danger text-white" type="submit">Delete</button>
                            </form>
                        </td>
                        <td class="fit">
                            <a class="btn btn-primary text-white" type="submit" href="@file.CustomFilePath"
                            download="@file.CustomFileName">
                                Download
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
</div>


<div class="row">
    <h4>
        <a class="btn btn-secondary"
            asp-controller="Folder"
            asp-action="FileCreateForm"
            asp-route-folderId="@Model.CurrentFolder.FolderId">Add file</a>

        <a class="btn btn-secondary"
           asp-controller="Folder"
           asp-action="FolderCreateForm"
           asp-route-folderId="@Model.CurrentFolder.FolderId">Add folder</a>
    </h4>
</div>