@model FileListModel



@if (Model.ParentFolders != null)
{
<h3>
    @foreach (var parentFolder in Model.ParentFolders)
    {
        <span>
            <a asp-controller="Folder" asp-action="Details" asp-route-id="@parentFolder.FolderId">
                @parentFolder.FolderName/
            </a>
        </span>
    }
</h3>
}

<h3>
    @Model.CurrentFolder.FolderName
</h3>
<div class="row">
            <table class="table table-hover">
			<tbody>
            @if (Model.CustomFiles != null)
            {
                @foreach (var file in Model.CustomFiles)
                {
                    <tr>
                        <td>
                            @file.CustomFileName
                        </td>
                        <td>
                            <a class="btn btn-info" type="button" href="@file.CustomFilePath" 
                            download="@file.CustomFileName">
                                Download
                            </a>
                        </td>
                    </tr>
                }
            }
            @if (Model.ChildrenFolders != null)
            {
                @foreach (var folder in Model.ChildrenFolders)
                {
                    <tr>
                        <td>
                            <a asp-controller="Folder" asp-action="Details" asp-route-id="@folder.FolderId">
                            @folder.FolderName
                            </a>
                        </td>
                    </tr>
                }
            }
                </tbody>
            </table>
</div>